{% include 'global-header.twig' %}

<div id="main" class="content-main blog-content" role="main">
    <div class="container">
        {{ content }}
    </div>
</div>

 {% include 'global-footer.twig' %}
